/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

header {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, p, a {
  color: #031622;
}

h1 {
  font-size: 82px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p, a {
  font-size: 16px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.button {
  background-color: #225B93;
  color: white;
  padding: 15px 25px;
  border-radius: 2rem;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.button:hover {
  background-color: #3B7EC0;
}

.first__screen {
  background: url("../img/first__screen.png") no-repeat center;
  padding-top: 15px;
  color: white;
}
.first__screen .container {
  margin-bottom: 0;
}
.first__screen .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 200px;
}
.first__screen .container header .header__links a {
  color: white;
  margin-right: 25px;
  position: relative;
}
.first__screen .container header .header__links a:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0;
  left: 0;
  height: 3px;
  top: 20px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}
.first__screen .container header .header__links a:hover:after {
  width: 100%;
}
.first__screen .container .first__screen__content {
  width: 500px;
  padding-bottom: 50px;
}
.first__screen .container .first__screen__content h1 {
  padding-bottom: 25px;
  color: white;
}

.greetings {
  background-color: #08263F;
  color: white;
}
.greetings .container {
  margin-bottom: 0;
  width: 830px;
}
.greetings .container p {
  font-size: 18px;
  color: #FED097;
  padding-top: 125px;
  text-align: center;
  padding-bottom: 15px;
}
.greetings .container h2 {
  font-weight: 300;
  padding-bottom: 125px;
  text-align: center;
  font-size: 36px;
  position: relative;
  color: white;
}

.promises {
  background-color: #EDF3F6;
  padding-top: 50px;
}
.promises .container .promises__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 50px;
}
.promises .container .promises__content .promises__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promises .container .promises__content .promises__row .promise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 275px;
  margin: 0 15px;
}
.promises .container .promises__content .promises__row .promise img {
  margin-bottom: 10px;
}
.promises .container .promises__content .promises__row .promise h3 {
  margin-bottom: 25px;
}

.products .container {
  margin-top: 100px;
  margin-bottom: 150px;
}
.products .container .top__title {
  font-size: 18px;
  color: #225B93;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.products .container .products__content .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(237, 243, 246, 0.49);
  margin-bottom: 50px;
}
.products .container .products__content .product .product__side {
  width: 425px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products .container .products__content .product .product__side h3 {
  color: white;
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  padding: 0 5px;
}
.products .container .products__content .product .product__main {
  width: 55%;
  margin: 0 auto;
}
.products .container .products__content .product .product__main h3 {
  font-weight: 500;
  position: relative;
}
.products .container .products__content .product .product__main h3::after {
  content: "80$";
  position: absolute;
  top: 100%;
  font-size: 18px;
  color: rgba(8, 38, 63, 0.6);
  left: 0;
}
.products .container .products__content .product .product__main a {
  display: block;
  background-color: #225B93;
  color: white;
  padding: 20px 0;
  font-size: 16px;
  border-radius: 2rem;
  text-align: center;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.products .container .products__content .product .product__main a:hover {
  background-color: #3B7EC0;
}
.products .container .products__content .product img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.products .container .products__content .product:first-child .product__side {
  background: url("../img/whitening.png") no-repeat center;
}
.products .container .products__content .product:last-child .product__side {
  background: url("../img/accessories.png") no-repeat center;
}

.quote {
  background-color: #EDF3F6;
}
.quote .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote .container h2 {
  font-weight: 400;
  width: 850px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 150px;
  position: relative;
}
.quote .container img {
  padding-top: 150px;
  display: block;
  padding-bottom: 15px;
}

.reviews {
  background-color: #08263F;
}
.reviews .container {
  padding: 150px 0;
}
.reviews .container .top__title {
  font-size: 18px;
  color: #FED097;
  text-align: center;
  font-weight: 300;
  padding-bottom: 15px;
}
.reviews .container h2 {
  color: white;
  position: relative;
}
.reviews .container .reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.reviews .container .reviews__content .review__peoples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews .container .reviews__content .review__peoples img {
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.reviews .container .reviews__content .review__peoples img.active {
  opacity: 1;
  cursor: auto;
}
.reviews .container .reviews__content .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 420px;
  height: 440px;
  background-color: white;
  padding: 35px;
  left: 32%;
  z-index: 2;
}
.reviews .container .reviews__content .review p {
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.reviews .container .reviews__content .review .review__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews .container .reviews__content .review .review__bottom p {
  font-weight: 700;
  font-size: 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.facts .container .fact {
  margin-left: 150px;
  margin-bottom: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.facts .container .fact__info {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 420px;
  height: 480px;
  background-color: #EDF3F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.facts .container .fact__info__container {
  width: 340px;
}
.facts .container .fact__info__container h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
.facts .container .fact:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.facts .container .fact:last-child .fact__info {
  left: 0;
  background-color: #FBEED7;
}

footer {
  background-color: #08263F;
}
footer .container {
  padding-top: 50px;
  margin-bottom: 0;
}
footer .container .terms {
  color: white;
  padding: 25px 0;
}
footer .container .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .container .footer__main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}
footer .container .footer__main div h3 {
  color: #FED097;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 25px;
}
footer .container .footer__main div a {
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 15px;
}
footer .container .footer__main .send__form h3 {
  color: white;
}
footer .container .footer__main .send__form input {
  background-color: #08263F;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 25px;
  color: white;
  font-size: 24px;
}
footer .container .footer__main .send__form button {
  border: none;
  background: #08263F;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  width: 170px;
  padding: 20px 0;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
footer .container .footer__main .send__form button:hover {
  background-color: white;
  color: #031622;
}

@media screen and (max-width: 1320px) {
  .container {
    width: 1000px;
  }
  .promises .container .promises__content .promises__row .promise {
    width: 220px;
  }
  .products .container .products__content .product .product__main {
    width: 45%;
  }
  .reviews .container {
    padding-top: 50px;
  }
  .reviews .container h2 {
    margin-bottom: 150px;
  }
  .reviews .container .reviews__content img {
    width: 350px;
  }
  .reviews .container .reviews__content .review .review__bottom img {
    width: auto;
  }
  .facts .container .fact {
    margin-left: 0;
  }
  .facts .container .fact:first-child .fact__info {
    left: 57%;
  }
}
@media screen and (max-width: 1070px) {
  .container {
    width: auto;
    margin: 0 35px;
  }
  .promises .container .promises__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .promises .container .promises__content .promises__row:last-child {
    padding-top: 35px;
  }
  .reviews {
    margin-bottom: 100px;
  }
  .reviews .container .reviews__content .review {
    width: 350px;
  }
  .products .container .products__content .product .product__main {
    margin: 0 25px;
    width: 400px;
  }
  .facts .container .fact:first-child .fact__info {
    left: 50%;
  }
  footer .container .footer__main .send__form {
    padding-top: 35px;
  }
}
@media screen and (max-width: 970px) {
  .reviews .container {
    padding: 50px 0;
  }
  .reviews .container .title {
    margin-bottom: 50px;
  }
  .reviews .container .reviews__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews .container .reviews__content .review {
    position: inherit;
    left: 0;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 940px) {
  .facts .container .fact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .facts .container .fact img {
    width: 100%;
  }
  .facts .container .fact:first-child .fact__info {
    height: 200px;
    left: inherit;
  }
  .facts .container .fact:last-child .fact__info {
    height: 200px;
    left: inherit;
  }
}
@media screen and (max-width: 900px) {
  .greetings .container {
    width: auto;
  }
  .quote .container h2 {
    width: auto;
  }
}
@media screen and (max-width: 800px) {
  .reviews .container .reviews__content .review__peoples {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews .container .reviews__content .review__peoples img:last-child {
    margin-top: 25px;
  }
  .products .container .products__content .product {
    height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products .container .products__content .product .product__side {
    display: none;
  }
  .products .container .products__content .product .product__main img {
    width: 100%;
    padding: 25px 0;
  }
}
@media screen and (max-width: 736px) {
  .greetings .container h2 {
    font-size: 24px;
  }
  .quote .container h2 {
    font-size: 24px;
  }
  .facts .container .fact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .facts .container .fact .fact__info {
    position: inherit;
    margin-bottom: 25px;
  }
  .facts .container .fact:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .container .footer__main .support {
    padding-top: 35px;
  }
}
@media screen and (max-width: 572px) {
  .first__screen .container header img {
    width: 100px;
  }
  footer .container .footer__main .company {
    padding-top: 35px;
  }
}
@media screen and (max-width: 515px) {
  .first__screen .container .first__screen__content {
    width: auto;
  }
  .first__screen .container .first__screen__content h1 {
    font-size: 54px;
  }
  .promises .container .promises__content .promises__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promises .container .promises__content .promises__row:last-child {
    padding-top: 0;
  }
  .promises .container .promises__content .promises__row .promise {
    padding-top: 25px;
  }
}