@import "_variables";
@import "_mixins";
@import "_base";
@import "_fonts";

.title {
  text-align: center;
  margin-bottom: 50px;
}

.button {
  background-color: $secondary;
  color: white;
  padding: 15px 25px;
  border-radius: 2rem;
  transition: .3s ease all;

  &:hover {
    background-color: #3B7EC0;
  }
}

.shopping {
  position: fixed;
  left: 75vw;
  top: 35%;
  z-index: 3;
  pointer-events: none;

  &__menu {

    position: relative;
    top: 20px;
    opacity: 0;
    transition: .3s ease all;
    z-index: 5;

    &.active {
      top: 0;
      opacity: 1;
    }

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    background-color: #fff;
    width: 350px;
    height: 525px;
    padding: 25px;

    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;

    button {
      border: none;
      background-color: white;
    }

    .item {
      margin-bottom: 25px;
      width: 300px;

      &__main {
        @include flex;

        h3 {
          font-size: 20px;
          font-weight: 400;
        }

        img {
          margin-right: 15px;
        }

        .delete__item {
          cursor: pointer;
        }

      }

      .item__counter {
        display: flex;
        margin-top: 15px;

        .decrease,
        .increase {
          background-color: $beige;
          border-radius: 10px;
          width: 30px;
          height: 30px;
          font-size: 24px;
          cursor: pointer;
          transition: .3s ease all;

          &:hover {
            background-color: #FFE0BA;
          }
        }

        .decrease {
          margin-right: 15px;
          opacity: 0.6;
          pointer-events: none;
          cursor: inherit;
        }

        .item__count {
          margin-right: 15px;
        }

        .increase {
          margin-right: 15px;
        }

        .decrease.active {
          opacity: 1;
          cursor: pointer;
          pointer-events: all;

          &:hover {
            background-color: #FFE0BA;
          }
        }
      }
    }

    .shopping__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .total {
        font-weight: 500;
        font-size: 24px;
        margin-top: 15px;
      }

      .submit {
        background-color: $secondary;
        color: white;
        font-size: 24px;
        width: 100%;
        border-radius: 2rem;
        padding: 10px 0;
        margin-top: 15px;
        transition: .3s ease all;
        cursor: pointer;

        &:hover {
          background-color: #3B7EC0;
        }
      }
    }
  }

  &__cart {
    pointer-events: all;
    cursor: pointer;
    position: relative;
    left: 80%;
    top: 20px;
    z-index: 3;
  }

}

.first__screen {
  background: url("../img/first__screen.png") no-repeat center;
  padding-top: 15px;
  color: white;

  .container {
    margin-bottom: 0;

    header {
      @include flex;
      padding-bottom: 200px;

      .header__links a {
        color: white;
        margin-right: 25px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          background-color: #fff;
          width: 0;
          left: 0;
          height: 3px;
          top: 20px;
          transition: .4s ease all;
        }

        &:hover {

          &:after {
            width: 100%;
          }
        }
      }
    }

    .first__screen__content {

      width: 500px;
      padding-bottom: 50px;

      h1 {
        padding-bottom: 25px;
        color: white;
      }

    }
  }
}

.greetings {
  background-color: $primary;
  color: white;

  .container {
    margin-bottom: 0;

    width: 830px;

    p {
      font-size: 18px;
      color: $beige;
      padding-top: 125px;
      text-align: center;
      padding-bottom: 15px;
    }

    h2 {
      font-weight: 300;
      padding-bottom: 125px;
      text-align: center;
      font-size: 36px;
      position: relative;
      color: white;
    }
  }
}

.promises {
  background-color: #EDF3F6;
  padding-top: 50px;

  .container {


    .promises__content {

      display: flex;
      justify-content: center;
      align-items: start;
      padding-bottom: 50px;

      .promises__row {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .promise {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
          width: 275px;
          margin: 0 15px;

          img {
            margin-bottom: 10px;
          }

          h3 {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

.products {

  .container {
    margin-top: 100px;
    margin-bottom: 150px;

    .top__title {
      font-size: 18px;
      color: $secondary;
      font-weight: 700;
      text-align: center;
      margin-bottom: 25px;
    }

    .products__content {

      .product {
        display: flex;
        align-items: center;
        background-color: rgba(237, 243, 246, 0.49);

        margin-bottom: 50px;

        .product__side {
          width: 425px;
          height: 500px;
          display: flex;
          align-items: center;
          justify-content: center;

          h3 {
            color: white;
            font-weight: 300;
            font-size: 45px;
            text-align: center;
            padding: 0 5px;
          }
        }

        .product__main {
          width: 55%;
          margin: 0 auto;

          h3 {
            font-weight: 500;
            position: relative;

            &::after {
              content: "80$";
              position: absolute;
              top: 100%;
              font-size: 18px;
              color: rgba(8, 38, 63, 0.6);
              left: 0;
            }
          }


          a {
            display: block;
            background-color: $secondary;
            color: white;
            padding: 20px 0;
            font-size: 16px;
            border-radius: 2rem;
            text-align: center;
            transition: .3s ease all;
            cursor: pointer;

            &:hover {

              background-color: #3B7EC0;
            }
          }
        }

        img {
          display: block;
          margin: 0 auto;
          margin-bottom: 10px;
        }

        &:first-child {

          .product__side {
            background: url("../img/whitening.png") no-repeat center;
          }
        }

        &:last-child {
          .product__side {
            background: url("../img/accessories.png") no-repeat center;
          }

          .product__main {
            h3::after {
              content: "50$";
            }
          }
        }

      }
    }
  }

}

.quote {
  background-color: #EDF3F6;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 400;
      width: 850px;
      text-align: center;
      display: block;
      margin: 0 auto;
      padding-bottom: 150px;
      position: relative;
    }

    img {
      padding-top: 150px;
      display: block;
      padding-bottom: 15px;
    }
  }

}

.reviews {
  background-color: $primary;

  .container {
    padding: 150px 0;

    .top__title {
      font-size: 18px;
      color: $beige;
      text-align: center;
      font-weight: 300;
      padding-bottom: 15px;
    }

    h2 {
      color: white;
      position: relative;
    }

    .reviews__content {
      @include flex;
      position: relative;

      .review__peoples {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        img {
          opacity: 0.6;
          cursor: pointer;
          transition: .3s ease all;

          &.active {
            opacity: 1;
            cursor: auto;
          }
        }
      }

      .review {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        width: 420px;
        height: 440px;
        background-color: white;
        padding: 35px;
        left: 32%;
        z-index: 2;

        p {
          font-size: 24px;
          font-weight: 500;
          transition: .3s ease all;
        }

        .review__bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-weight: 700;
            font-size: 20px;
            transition: .3s ease all;
          }
        }
      }
    }
  }
}

.facts {

  .container {


    .fact {
      margin-left: 150px;
      margin-bottom: 100px;

      position: relative;
      display: flex;
      align-items: center;

      &__info {

        position: absolute;
        z-index: 2;
        left: 50%;

        width: 420px;
        height: 480px;
        background-color: #EDF3F6;
        display: flex;
        align-items: center;
        justify-content: center;

        &__container {
          width: 340px;

          h2 {
            font-weight: 500;
            margin-bottom: 10px;
          }
        }

      }

      &:last-child {

        flex-direction: row-reverse;

        .fact__info {

          left: 0;
          background-color: #FBEED7;
        }
      }
    }
  }
}

footer {
  background-color: $primary;

  .container {
    padding-top: 50px;
    margin-bottom: 0;

    .terms {
      color: white;
      padding: 25px 0;
    }

    .footer__main {
      display: flex;
      justify-content: space-evenly;
      align-items: start;
      flex-wrap: wrap;

      div {
        display: flex;
        flex-direction: column;
        padding: 0 15px;

        h3 {
          color: $beige;
          font-size: 18px;
          font-weight: 300;
          padding-bottom: 25px;
        }

        a {
          color: white;
          font-size: 16px;
          font-weight: 300;
          padding-bottom: 15px;
        }
      }

      .send__form {
        h3 {
          color: white;
        }

        input {
          background-color: $primary;
          border: none;
          border-bottom: 2px solid white;
          margin-bottom: 25px;
          color: white;
          font-size: 24px;
        }

        button {
          border: none;
          background: $primary;
          border: 2px solid white;
          color: white;
          font-size: 16px;
          width: 170px;
          padding: 20px 0;
          border-radius: 2rem;
          cursor: pointer;
          transition: .5s ease all;


          &:hover {
            background-color: white;
            color: #031622;
          }
        }
      }
    }
  }
}

@import "_breakpoints";